* {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  padding: 6%;
  background-color: hsl(20, 50%, 98%);
}
.title {
  margin-bottom: 10%;
  color: hsl(14, 65%, 9%);
  align-self: flex-start;
}
.dessert-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dessertCard {
  position: relative;
  margin-bottom: 8%;
  border-radius: 8px;
  overflow: hidden;
  width: 86vw;
}
.dessertImage {
  display: flex;
}
.dessertImage img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid transparent;
}
.dessertInfo {
  margin-top: 40px;
}
.dessertName {
  color: hsl(14, 65%, 9%);
  font-weight: 600;
}
.category {
  color: hsl(12, 20%, 44%);
}
.price {
  color: hsl(14, 86%, 42%);
  font-weight: 500;
}
.cart {
  background-color: white;
  padding: 8%;
  border-radius: 4%;
}
.heading {
  display: flex;
  align-items: center;
  color: hsl(14, 86%, 42%);
  gap: 2%;
}
.emptyimage {
  background-image: url("assets/images/illustration-empty-cart.svg");
  height: 30vh;
  width: -webkit-fill-available;
  justify-self: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 3%;
}
.cart-quantity {
  font-size: 1.5em;
  font-weight: 900;
}
.cart-item {
  height: 12vh;
  margin-bottom: 1vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid hsl(13, 31%, 94%);
}
.name {
  font-size: 14px;
  font-weight: 600;
  line-height: 0.4;
  color: hsl(14, 65%, 9%);

}

.remove {
  background: none;
  color: #CAAFA7;
  border: 1px solid hsl(14, 25%, 72%);
  outline: none;
  width: fit-content;
  align-self: flex-end;
  display: flex;
  border-radius: 50%;
  padding: 4px;
}
.remove:hover{
color: black;
border: 1px solid black;
cursor: pointer;
}
.nameIcon {
  display: flex;
  justify-content: space-between;
}
.priceQnt {
  display: flex;
  line-height: 0;
  gap: 7px;
  margin-bottom: 0.2rem;
  font-size: 14px;
}
.itemquantity {
  color: hsl(14, 86%, 42%);
  margin-right: 3%;
  font-weight: 500;
}
.itemprice{
  color: hsl(7, 20%, 60%);
  font-weight: 500;
}
.lineTotal{
  color: hsl(12, 20%, 44%);
  font-weight: 600;
}
.orderTotal{
  display: flex;
  margin-block: 4vh;
  justify-content: space-between;
  align-items: center;
}
.order{
  font-size: 12px;
  color: hsl(14, 65%, 9%);
font-weight: 500;
}
.total{
  font-size: 18px;
  color: hsl(14, 65%, 9%);
}
.heading {
  margin-bottom: 3vh;
}
.added-items {
  color: hsl(7, 20%, 60%);
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}
.addToCart {
  position: absolute;
  justify-self: anchor-center;
  padding: 6px;
  height: 45px;
  width: 150px;
  border-radius: 30px;
  border: 1px solid hsl(14, 65%, 9%, 0.7);
  display: flex;
  gap: 8px;
  bottom: 86px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.addToCart span {
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  margin-bottom: 5px;
}
.addBtn.hovered{
  border: 1px solid hsl(14, 86%, 42%);
  cursor: pointer;
}
.addToCart:hover {
  border: 1px solid hsl(14, 86%, 42%);
  cursor: pointer;
}
.addToCart:hover span {
  cursor: pointer;
  color: hsl(14, 86%, 42%);
}

.quantityBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.minus {
  display: flex;
  padding: 8px 4px;
  color: #fff;

  border: 2px solid white;
  background: none;
  border-radius: 50%;
}
.minus:hover {
  background-color: #fff;
  color: hsl(14, 86%, 42%);
}
.add {
  display: flex;
  padding: 4px 4px;
  color: #fff;
  border: 2px solid white;
  background: none;
  border-radius: 50%;
}
.add:hover {
  background-color: #fff;
  color: hsl(14, 86%, 42%);
}
@media (min-width: 600px) {
  .title {
    margin-bottom: 2%;
  }
  .card-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 2%;
  }
  .dessertCard {
    width: auto;
    height: fit-content;
  }
}
@media (min-width: 1024px) {
  body {
    position: relative;
  }

  .card-container {
    align-self: flex-start;
    width: 70%;
  }
  .cart {
    width: 22%;
    position: absolute;
    right: 7%;
    top: 5%;
    padding: 2%;
  }
}
@media (min-width: 2560px) {
  * {
    font-size: 30px;
  }

  .title {
    font-size: 60px;
  }
  .cart h2 {
    font-size: 50px;
  }
  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(485px, 1fr));
  }
  .addToCart {
    bottom: 145px;
  }
  .addToCart span {
    font-size: 25px;
  }
  .dessertInfo {
    margin-top: 60px;
  }
}
